<h1>Ini admin page</h1>

<a href="http://localhost:3000/admin/data">
	<button>
		Hasil data Absen
	</button>
</a>

<a href="http://localhost:3000/admin/users">
	<button>
		User managements
	</button>
</a>